.world__stat-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  position: relative;
  height: 100%;
  padding: 20px;
  border-radius: 8px;
  border: none;
  background: #0e1726;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
  .world__stat-heading {
    color: #888ea8;
    font-size: 15px;
    margin-bottom: 16px;
    margin-top: 0;
  }
  .world__stat-counts {
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-self: center;
    border: 1px solid #191e3a;
    .counts {
      color: red;
      font-weight: 400;
      font-size: 21px;
    }
  }
}
