@import "../../Themes/theme";

.main__home {
  margin-top:1rem;
  width: 100%;
   .main__info-section {
     margin:1rem;
      display: flex;
      flex-wrap: wrap;
     align-items: center;
     .world-stats {
       width: 30%;
       margin: 1rem 0.5rem;
     }
  }

}
