<div class="world__stat-card">
  <app-card-stats [stats]="allWorldStats"></app-card-stats>
</div>

<div class="main__home">
  <div class="main__info-section">
    <p class="fs-2 text-center">Total Stats in the world</p>
    <div class="innerLoading" *ngIf="anyErrorOccured">
      <mat-spinner></mat-spinner>
    </div>
    <!-- <div
      class="main__info-section_total_data"
      *ngIf="allWorldStatsCopy.length > 0"
    >
      <mat-card class="total_data-card">
        <mat-card-content>
          <p class="fs-2 fs-500 text-center">Total Case</p>
          <p class="fs-1 fs-500 text-center">{{ allWorldStats.total_cases }}</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="total_data-card">
        <mat-card-content>
          <p class="fs-2 fs-500 text-center">Total Deaths</p>
          <p class="fs-1 fs-500 text-center">
            {{ allWorldStats.total_deaths }}
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="total_data-card">
        <mat-card-content>
          <p class="fs-2 fs-500 text-center">Total Recovered</p>
          <p class="fs-1 fs-500 text-center">
            {{ allWorldStats.total_recovered }}
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="total_data-card">
        <mat-card-content>
          <p class="fs-2 fs-500 text-center">New Cases</p>
          <p class="fs-1 fs-500 text-center">{{ allWorldStats.new_cases }}</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="total_data-card">
        <mat-card-content>
          <p class="fs-2 fs-500 text-center">New Deaths</p>
          <p class="fs-1 fs-500 text-center">{{ allWorldStats.new_deaths }}</p>
        </mat-card-content>
      </mat-card>
    </div> -->
    <p class="fs-2 text-center">Total Stats By Country</p>
    <div class="main__info-section_world-data">
      <div class="innerLoading" *ngIf="anyErrorOccured">
        <mat-spinner></mat-spinner>
      </div>
      <mat-card class="world-stats" *ngFor="let data of allCountriesDetails">
        <mat-card-content>
          <p class="fs-2 fs-500 text-center">
            <span class="fs-1">Country Name :</span>{{ data.country_name }}
          </p>
          <p class="fs-2 fs-500 text-center">
            <span class="fs-1">Total Cases :</span>{{ data.cases }}
          </p>
          <p class="fs-2 fs-500 text-center">
            <span class="fs-1">Deaths :</span>{{ data.deaths }}
          </p>
          <p class="fs-2 fs-500 text-center">
            <span class="fs-1">Total Recovered :</span
            >{{ data.total_recovered }}
          </p>
          <p class="fs-2 fs-500 text-center">
            <span class="fs-1">New Deaths :</span>{{ data.new_deaths }}
          </p>
          <p class="fs-2 fs-500 text-center">
            <span class="fs-1">New cases :</span>{{ data.new_cases }}
          </p>
          <p class="fs-2 fs-500 text-center">
            <span class="fs-1">Serious Critical :</span
            >{{ data.serious_critical }}
          </p>
          <p class="fs-2 fs-500 text-center">
            <span class="fs-1">Active Cases :</span>{{ data.active_cases }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
