<div class="main__home">
  <div class="main__banner-section">
    <div class="main__banner-badge">
      <div class="main__info-section">
        <div class="text-center fs-2 fs-500">
          <strong>Hello</strong>,<strong>Hola</strong>,<strong
        >नमस्ते</strong
        >
        </div>
        <div class="main__info-heading fs-2 fw-500 mt-16">

        </div>
        <p class="main__info-heading">
          Also, I enjoy writing blogs as well
        </p>
      </div>
    </div>
  </div>
</div>
