<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Coronavirus Stats</span>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li>
          <button mat-button [matMenuTriggerFor]="darkMenu"
                  matTooltip="Setting"
          >
            <mat-icon>settings</mat-icon>
          </button>
          <mat-menu #darkMenu="matMenu">
            <button mat-menu-item
                    matTooltip='Dark Theme'
                    (click)="changeThemeToggle('dark')">
              <mat-icon>lightbulb</mat-icon>
              <span>Dark Theme</span>
            </button>
              <button
                matTooltip='Light Theme'
                mat-menu-item (click)="changeThemeToggle('light')">
              <mat-icon>lightbulb_outline</mat-icon>
              <span>Light Theme</span>
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
