<header class="header">
  <div class="header__main d-flex">
    <ul class="mouse-point d-flex align-text-center">
      <div class="header__main-image">
        <img
          src="../../../assets/Image/navLog_small.jpg"
          alt="virusLog"
          class="img-responsive img-round"
        />
      </div>
      <div class="header__main-text fw-700">
        Coronavirus (COVID-19)
      </div>
    </ul>
    <div
      class="header__main-searchFilter mr-auto pl-0 d-flex align-text-center"
    >
      <app-SearchFilter></app-SearchFilter>
    </div>
    <ul class="header__main-world d-flex align-text-center">
      <div class="header__main-world-icon">
        <img [src]="countryNameFlag.flag" class="img-responsive img-round" />
      </div>
      <div class="header__main-text fw-400">{{ countryNameFlag.name }}</div>
    </ul>
  </div>
</header>
