<div class="searchFilter_main d-flex">
  <div class="searchFilter-form">
    <div class="searchFiler__main-icon">
      <i class="fa fa-search"></i>
    </div>
    <div class="searchFilter__main-input">
      <input
        [(value)]="selectedCountryname"
        placeholder="Search for your Country"
        (keyup)="onChangeSearchCountry($event)"
      />
    </div>
  </div>
  <ul class="searchFilter__country-list" *ngIf="showCountryList">
    <div
      class="searchFilter__overlay"
      (click)="showCountryList = showCountryList != showCountryList"
    ></div>
    <div *ngIf="searchCountryList.length > 0">
      <li
        class="searchFilter__country-item"
        *ngFor="let countryItem of searchCountryList"
        (click)="selectFilterCountryName(countryItem)"
      >
        <img [src]="countryItem.flag" [alt]="countryItem.name" />
        <span class="searchFilter__country-name">{{ countryItem?.name }}</span>
      </li>
    </div>
    <li
      class="searchFilter__country-item"
      *ngIf="searchCountryList.length === 0"
    >
      No Match
    </li>
  </ul>
</div>
