.loading__screen {
  position: fixed;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

//// for Main__content

.main__content {
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
}
